doctype html
html
   head
      title = 'Hello Pug'
   body
      form( action='/index', method='post')
        input(type='test', name='data', value='data in block')
        input(type='submit', value='submit')