form(action='/index', method='post')
  input(type='test', name='data', value='data you would like to put in the blockchain')
  input(type='submit', value='submit')
br
br
p
  a(href='http://localhost:4000/get_blockchain') blockchain
